*{
	padding: 2px;
	margin: 2px;
	font-size: 18pt;
}

.panel{
	border: 2px solid yellowgreen;
	border-radius: 10px;
	width: 45%;
	display: inline-block;
}

table{
	border:1;
	text-align: center;
	background-color: lightblue;
	width: 100%
}